* {
  margin: 0px;
  padding: 0px;
}
:root {
  --primary_background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

#DashBoard {
  margin-top: 55px;

  height: 100vh;
  width: 100%;
  color: white;
}

#DashBoard .intro {
  padding: 20px 0px 0px;
  text-align: center;
}
#DashBoard .intro button {
  padding: 10px 10px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
#DashBoard .intro button:hover {
  padding: 10px 10px;
  background-color: white;
  border: 2px solid white;
  color: #57c785;
}

.eventCol {
  text-align: center;
  background: #d1d4cb59;
  padding: 20px 10px;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all 0.2s ease;
}
.eventCol:hover {
  background: #fcfcfc;
  color: #57c785;
  cursor: pointer;
}
.eventCol .date {
  text-align: left;
  padding-left: 20px;
}
.eventCol .date .E_month {
  font-size: 18px;
}
.eventCol .date .E_day {
  font-size: 30px;
}
.eventCol.odd {
  background-color: #57c785;
}
.eventCol.odd:hover {
  background-color: white;
  color: 57c785;
}
.new_feature {
  background: #e1eef194;
  text-align: center;
  border-radius: 5px;
  height: 100px;
  width: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.new_feature:hover {
  background: #ffffff;
  color: #55c485;
}
.new_feature div svg {
  font-size: 3rem;
}
.new_feature p {
  margin: 0px;
  font-weight: 600;
}
.col_festure {
  background: #55c485;
  text-align: center;
  border-radius: 5px;
  height: 100px;
  width: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
.col_festure h2 {
  font-size: 20px;
}
.col_festure p {
  font-size: 15px;
  font-weight: 600;
}
.col_festure svg {
  position: absolute;
  top: -10px;
  right: -18px;
  font-size: 30px;
  cursor: pointer;
}

.new_fest_section {
  margin: 20px 0px;
  color: white;
}
.btn_close {
}
.btn_add {
}
