:root {
  --primary_background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

/* Shared Page Layout */

#LoginPage,
#RegisterPage,
#CreateFestival {
  width: 100%;
  min-height: 100vh; /* fixed for mobile */
  background: var(--primary_background);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}
#CreateFestival {
  padding-top: 100px;
}
/* Headings */

#RegisterPage h1,
#CreateFestival h1 {
  text-align: center;
}

/* Form Box */

.form_col {
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;

  width: 500px;

  margin: 0 auto;
}

/* Buttons */

.form_col .btn_box button {
  display: block;
  width: 100%;
  background-color: #ffe9e959;
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.form_col .btn_box button:hover {
  background-color: rgb(255, 255, 255);
  color: #57c785;
}

/* Mobile Improvements */

@media screen and (max-width: 550px) {
  .form_col {
    padding: 15px;
    width: 100%;
    max-width: 500px;
  }
  .form_col .btn_box button {
    font-size: 1rem;
  }
}
