:root {
  --primary_background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 10%;
  width: 100%;
  background: var(--primary_background);
}
.main {
  background: var(--primary_background);
}
/* Navbar Start */
.navbar {
  background: var(--primary_background);
  border-bottom: 2px solid white;
}

.navbar-brand {
  color: white !important;
  font-weight: 600;
}
.navbar-nav a {
  font-weight: 600;
}
@media screen and(max-width:992px) {
  .navbar-nav {
    text-align: center;
  }
}
/* Navbar End */
